<%= form_for(@guideline) do |f| %>
  <% if @guideline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@guideline.errors.count, "error") %> prohibited this guideline from being saved:</h2>

      <ul>
      <% @guideline.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :guidelineType %><br />
    <%= f.number_field :guidelineType %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description1 %><br />
    <%= f.text_field :description1 %>
  </div>
  <div class="field">
    <%= f.label :description2 %><br />
    <%= f.text_field :description2 %>
  </div>
  <div class="field">
    <%= f.label :profiles %><br />
    <%= f.text_field :profiles %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
