<p id="notice"><%= notice %></p>

<div class="section">
  <%= link_to image_tag("arrow_up.png"), guidelines_path %>
</div>

<div class="section guideline">
  <% for i in 1..@guideline.guidelineType do %>
  <img style="width: 64px; height: 64px; float: left; margin-right: 10px; margin-bottom: 10px;" src="/assets/star.png">
  <% end %>

  <div class="guideline-profiles">
  <% @guideline.profiles.split(',').each do |profile| %>
    <img style="width: 64px; height: 64px; float: right; margin-left: 10px" src="/assets/profile_<%= profile %>.png">
  <% end %>
  </div>

  <div class="guideline-name">
    <%= @guideline.name %>
  </div>
  
  <hr class="guideline-divider">
  
  <% unless @guideline.description1.nil? %>
  <p style="width: 100%; float: left">
    <%= @guideline.description1 %>
  </p>
  <% end %>
  
  <% unless @guideline.description2.nil? %>
  <p style="width: 100%; float: left">
    <%= @guideline.description2 %>
  </p>
  <% end %>
</div>
