<%= form_for(@vaatimu) do |f| %>
  <% if @vaatimu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vaatimu.errors.count, "error") %> prohibited this vaatimu from being saved:</h2>

      <ul>
      <% @vaatimu.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nimi %><br />
    <%= f.text_field :nimi %>
  </div>
  <div class="field">
    <%= f.label :selite %><br />
    <%= f.text_field :selite %>
  </div>
  <div class="field">
    <%= f.label :profiilit %><br />
    <%= f.text_field :profiilit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
