<h1>Listing vaatimus</h1>

<table>
  <tr>
    <th>Nimi</th>
    <th>Selite</th>
    <th>Profiilit</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vaatimus.each do |vaatimu| %>
  <tr>
    <td><%= vaatimu.nimi %></td>
    <td><%= vaatimu.selite %></td>
    <td><%= vaatimu.profiilit %></td>
    <td><%= link_to 'Show', vaatimu %></td>
    <td><%= link_to 'Edit', edit_vaatimu_path(vaatimu) %></td>
    <td><%= link_to 'Destroy', vaatimu, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vaatimus', new_vaatimu_path %>
