<p id="notice"><%= notice %></p>

<p>
  <b>Nimi:</b>
  <%= @vaatimu.nimi %>
</p>

<p>
  <b>Selite:</b>
  <%= @vaatimu.selite %>
</p>

<p>
  <b>Profiilit:</b>
  <%= @vaatimu.profiilit %>
</p>


<%= link_to 'Edit', edit_vaatimu_path(@vaatimu) %> |
<%= link_to 'Back', vaatimus_index_path %>
